*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: blue;
    color: white;
}

.home a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.top{
    flex-direction: column;
    height: 25dvh;
    width: 100%;
    background-color: rgb(130, 153, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}

.top a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}